<body>
    <div id="parent-body-style">
        <div id="child-body-content">
            <h1 id="title">STAR WARS DATABASE</h1>
            <h5>Designed in 12 hours, without any prior Angular experience</h5>
            <div class="btn-group btn-group-toggle">
                <label class="btn-primary btn-lg" ngbButtonLabel (click)="getPeopleData()">
                    People
                </label>
                <label class="btn-primary btn-lg" ngbButtonLabel (click)="getFilmsData()">
                    Films
                </label>
                <label class="btn-primary btn-lg" ngbButtonLabel (click)="getPlanetsData()">
                    Planet
                </label>
                <label class="btn-primary btn-lg" ngbButtonLabel (click)="getSpeciesData()">
                    Species
                </label>
                <label class="btn-primary btn-lg" ngbButtonLabel (click)="getStarshipsData()">
                    Starships
                </label>  
                <label class="btn-primary btn-lg" ngbButtonLabel (click)="getVehiclesData()">
                    Vehicles
                </label>
            </div>
            <div>
                <app-films-list *ngIf="this.data == 'film'"></app-films-list>
                <app-people-list *ngIf="this.data == 'people'"></app-people-list>
                <app-planets-list *ngIf="this.data == 'planet'"></app-planets-list>
                <app-species-list *ngIf="this.data == 'specie'"></app-species-list>
                <app-starships-list *ngIf="this.data == 'starship'"></app-starships-list>
                <app-vehicles-list *ngIf="this.data == 'vehicle'"></app-vehicles-list>
            </div>
        </div>
    </div>
</body>