<h3 *ngIf="this.loading">Loading People...</h3>
<div *ngFor="let item of this.data.results" class="list">
    <ngb-accordion #a="ngbAccordion" activeIds="custom-panel-1">
        <ngb-panel id="custom-panel-1">
          <ng-template ngbPanelHeader>
            <div class="d-flex align-items-center justify-content-between">
              <h3 class="m-0">{{item.name}}</h3>
              <button ngbPanelToggle class="btn btn-link p-0">Toggle</button>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <h5 class="content">Gender: {{item.gender}}</h5>
            <h5 class="content">Height: {{item.height}} cm</h5>
            <h5 class="content">Mass: {{item.mass}} kg</h5>
            <br>
            <h5 class="content">Birth Year: {{item.birth_year}}</h5>
            <h5 class="content">Skin Color: {{item.skin_color}}</h5>
            <h5 class="content">Eye Color: {{item.eye_color}}</h5>
            <h5 class="content">Hair Color: {{item.hair_color}}</h5>
            <br>
            <h5 class="content">Homeworld: {{item.homeworld}}</h5>
            <h5 class="content">Films: {{item.films}}</h5>
            <h5 class="content">Species: {{item.species}}</h5>
            <h5 class="content">Starships: {{item.starships}}</h5>
            <h5 class="content">Vehicles: {{item.vehicles}}</h5>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
  </div>
<label class="btn btn-primary btn-block btn-lg" *ngIf="this.isButtonVisible" (click)="loadNextPage()" ngbButtonLabel>Load Next Page</label>
      